<template name="afArrayField_materialize">
  <div class="collection">
    <div class="collection-item">
      {{afFieldLabelText name=atts.name}}

      {{#if afArrayFieldHasLessThanMaximum name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <button
          type="button"
          class="btn autoform-add-item"
          data-autoform-field="{{atts.name}}"
          data-autoform-minCount="{{atts.minCount}}"
          data-autoform-maxCount="{{atts.maxCount}}">
            Add <i class="mdi-content-add"></i>
        </button>
      {{/if}}
    </div>
    {{#if afFieldIsInvalid name=atts.name}}
      <div class="collection-item">
        <span class="red-text">{{{afFieldMessage name=atts.name}}}</span>
      </div>
    {{/if}}
    {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <div class="collection-item">
        {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
      </div>
      {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
        <div class="collection-item">
          <button type="button" class="btn autoform-remove-item">
            Remove <span class="mdi-content-clear"></span>
          </button>
        </div>
      {{/if}}
    {{/afEachArrayItem}}
  </div>
</template>
