<template name="afFormGroup_materialize">
    <div class="row">
        <div class="{{#if addInputField}}input-field{{/if}} col s12">
            {{#if this.afFieldInputAtts.icon}}
                {{> afIcon_materialize this.afFieldInputAtts}}
            {{/if}}
            {{#if skipLabel}}
                {{> afFieldInput this.afFieldInputAtts}}
            {{else}}
                {{> afFieldInput this.afFieldInputAtts}}
                {{>afLabel_materialize this}}
            {{/if}}
            {{#if afFieldIsInvalid name=this.name}}
                <div class="red-text">
                    <i class="mdi-alert-warning"></i> {{{afFieldMessage name=this.name}}}
                </div>
            {{/if}}
        </div>
    </div>
</template>
